:root {
  --bg--color:#dee4ed;
  --bg--off-white:#9896ff;
  --accent--blue:#50739d;
  --text--black:#2d3743;
  --text--white:#ffffff;
  --border:#d6dfec;


  --primary: #4f46e5;
  --primary-light: #6366f1;
  --primary-dark: #3730a3;

  --background: #f9fafb;
  --surface: #ffffff;
  --text-primary: #111827;
  --text-secondary: #6b7280;

  --border-color: #e5e7eb;
  --hover-bg: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}


